
.report-data-graph{
    background: #ffffff;
    border-radius: 10px;
    height: 500px;
}

.report-data-count{
    border-radius: 10px;
    height: 500px;
}

.graph_heading {
    font-size: 18px;
    font-weight: 500;
}

.counts_heading {
    font-size: 18px;
    font-weight: 500;
}

.report-count {
    font-size: 45px;
    font-weight: bold;
    color: #008080;
}

.customers-count, .employees-count, .products-count, .today-servicework-count, .upcoming-servicework-count, .completed-servicework-count {
    text-align: center;
    padding: 12px;
    background: #ffffff;
    border-radius: 10px;
}

.report-count-heading {
    font-size: 16px;
    font-weight: 700;
}

.report-upcoming, .report-completed {
    max-height: 500px;
    background: #ffffff;
    border-radius: 10px;
    overflow: auto;
}

.report-upcoming-label, .report-completed-label {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
}

#table {
    border-radius: 10px;
}