{% extends "index.html" %}
{% load static %}

{% block head %}
    <title>View Servicers</title>
{% endblock head %}

{% block content %}

<div class="d-grid">
    <div class="d-flex justify-content-between">
        <span class="page_heading">Servicers</span>
        <a href="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createServicerModal">Create</a>
    </div>

    {% comment %} Create Service modal {% endcomment %}
    <form action="{% url "purifier:create_servicer" %}" method="post">
        {% csrf_token %}
        <div class="modal fade" id="createServicerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createServicerModalTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createServicerModalTitle">Add Servicer</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="formServicerName" class="form-label mt-3">Servicer Name</label>
                        {{ servicer_form.name }}

                        <div id="servicerDetails">
                            <label for="formServicerCode" class="form-label mt-3">Employee Code</label>
                            <input type="text" class="form-control" id="employeeCode" Readonly/>

                            <label for="formServicerContact" class="form-label mt-3">Mobile</label>
                            <input type="text" class="form-control" id="employeeContact" Readonly/>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% comment %} End modal {% endcomment %}

    <hr class="mt-1">

    <div class="mt-1">
        {% if servicers_exists %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
            
                <thead class="table-secondary">
                    <tr>
                        <th></th>
                        <th>Employee Code</th>
                        <th>Servicer</th>
                        <th>Contact</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>

                    {% for servicer in servicers %}

                        <tr>
                            <td class="text-center">{{ forloop.counter }}</td>
                            <td class="">{{ servicer.name.employee_code }}</td>
                            <td class="">{{ servicer.name.name }}</td>
                            <td class="">{{ servicer.name.mobile }}</td>
                            <td class="d-flex justify-content-center"><a href="{% url "purifier:delete_servicer" servicer.id %}"><i class="bi bi-trash"></i></a></td>
                        </tr>

                    {% endfor %}

                </tbody>

            </table>
        </div>
        {% else %}
        <div class="d-flex justify-content-center">
            <span>No services added. <a href="" data-bs-toggle="modal" data-bs-target="#createServicerModal">Create</a> a new service.</span>
        </div>
        {% endif %}
    </div>

</div>


<script>
    window.ajaxUrl =  '{% url 'purifier:create_servicer' %}';
</script>

<script src="{% static 'js/servicer/view_servicers.js' %}"></script>

{% endblock content %}