{% extends 'index.html' %}
{% block content %}
{% load static %}

<div class="d-flex justify-content-between">
    <h5> <span class="badge bg-dark">Number of Employees:  {{ number_of_employees }}</span> </h5>
    <a href = "{% url 'create_employee' %}"class="btn btn-primary">Add</a>
</div>

{% if employees_exist %}
<div class='table-responsive'>
    <table class="table table-striped mt-2 align-middle table-bordered">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Employee Name</th>
            <th scope="col">Designation</th>
            <th scope="col">Email</th>
            <th scope="col">Contact(1)</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr style="height: 42px;">
                <td class="text-center">{{forloop.counter}}</td>
                <td>
                    <a href="{% url 'update_employee' employee.id %}" style="text-decoration: none; color: black;">
                    {% if employee.profile_image %}
                        <img src="{{employee.profile_image.url}}" alt="Profile not loading..." style="width: 25px; height: 25px; border-radius: 50%;">
                    {% else %}
                        <img src="{% static 'image/default.png' %}" alt="Profile not loading..." style="width: 25px; height: 25px; border-radius: 50%;">
                    {% endif %}
                    </a>
                    <a href="{% url 'update_employee' employee.id %}" style="text-decoration: none; color: black;">{{ employee.name }}</a>
                </td>
                <td><a href="{% url 'update_employee' employee.id %}" style="text-decoration: none; color: black;">{{ employee.designation }}</a></td>
                <td><a href="{% url 'update_employee' employee.id %}" style="text-decoration: none; color: black;">{{ employee.email }}</a></td>
                <td><a href="{% url 'update_employee' employee.id %}" style="text-decoration: none; color: black;">{{ employee.contact_one }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="d-flex justify-content-center">
    <span class="pt-5">Empty Jobs. <a href="{% url 'create_quotation' %}">Create</a> a new quotation or <a href="{% url 'view_quotations' %}">Create</a> jobs for quotations </span>
</div>
{% endif %}

{% endblock content %}