a {
    cursor: pointer;
}

.anchor_tag {
    text-decoration: none;
    color: black;
}

.anchor_tag:hover {
    color: black;
    cursor: pointer;
}

.page_heading {
    font-size: 28px;
    font-weight: 700;
}

.form-label {
    font-weight: 500;
}

/* delete bin */
.bi-trash {
    color: #ff0000;
}

/* edit pen */
.bi-pencil-square {
    color: dodgerblue;
}

/* dataTable */
.dataTables_filter {
    margin-bottom: 5px;
}

/* table */
table thead {
    background: #0c768a;
}