.anchor_tag {
    text-decoration: none;
    color: black;
}

.anchor_tag:hover {
    color: black;
    cursor: pointer;
}

.page_heading {
    font-size: 25px;
    font-weight: 500;
}

.form-label {
    font-weight: 500;
}

.bi-trash {
    color: #ff0000;
}

/* dataTable */
.dataTables_filter {
    margin-bottom: 5px;
}