{% extends 'index.html' %}
{% load static %}
{% block content %}

{% if machines_exist %}

<h2>Tasks</h2>

<div class="task-kanban-board d-flex justify-content-start" id="kanban-board">
    {% for machine in machines %}
        <div class="task-kanban-column" id="{{ machine.machine_name }}">
            <div class="task-kanban-column-head">
                {{ machine.machine_name }}
            </div>
            <hr class="m-0 mb-3">
            <div class="task-kanban-column-content" data-machine="{{ machine.machine_name }}">
                {% for task in tasks %}
                    {% if task.machine_id == machine %}
                    <div class="task-kanban-column-card d-flex justify-content-between mb-3 p-2"
                        draggable="true" ondragstart="dragStart(event)" id="{{ task.job_id.sequential_code }}">
                        <span>{{ task.job_id.sequential_code }}</span>
                        <span>{{ task.status }}</span>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

<script>
    document.addEventListener('dragover', function (event) {
        event.preventDefault();
    });

    document.addEventListener('drop', function (event) {
        event.preventDefault();
        var data = event.dataTransfer.getData("text/plain");
        var draggedElement = document.getElementById(data);
        var dropTarget = event.target.closest('.task-kanban-column-content');

        if (dropTarget) {
            dropTarget.appendChild(draggedElement);

            // Handle the drop event here, you may want to make an AJAX call to update the task status
            console.log("Dropped:", data, "onto", dropTarget.parentElement.id);
        }
    });

    function dragStart(event) {
        event.dataTransfer.setData("text/plain", event.target.id);
    }
</script>

{% else %}

<p class="text-center">No data to show.</p>

{% endif %}

{% endblock content %}
