{% extends 'index.html' %}
{% block content %}
{% load static %}

<div class='d-flex justify-content-between'>
    <h5> <span class="badge bg-dark">Number of Tasks:  {{ number_of_tasks }}</span> </h5>
    <a href = "{% url 'create_customer' %}"class="btn btn-primary">Add</a>
</div>

{% if tasks_exist %}
<div class='table-responsive'>
    <table class="table table-striped mt-2 align-middle table-bordered">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Number</th>
            <th scope="col">Job</th>
            <th scope="col">Operator</th>
            <th scope="col">Machine</th>
            <th scope="col">Estimate Duration</th>
            <th scope="col">Completed In</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr style="height: 42px;">
                <td class="text-center">{{forloop.counter}}</td>
                <td><a href="" style="text-decoration: none; color: black;">{{task.sequential_code}}</a></td>
                <td><a href="" style="text-decoration: none; color: black;">{{task.job_id}}</a></td>
                <td>
                    <a href="" style="text-decoration: none; color: black;">
                    {% if task.operator_id.profile_image %}
                        <img src="{{task.operator_id.profile_image.url}}" alt="Profile not loading..." style="width: 25px; height: 25px; border-radius: 50%;">
                    {% else %}
                        <img src="{% static 'image/default.png' %}" alt="Profile not loading..." style="width: 25px; height: 25px; border-radius: 50%;">
                    {% endif %}
                    </a>
                    <a href="" style="text-decoration: none; color: black;">{{task.operator_id.name}}</a>
                </td>
                {% if task.machine_id %}
                    <td><a href="" style="text-decoration: none; color: black;">{{task.machine_id}}</a></td>
                {% else %}
                    <td class="text-center"><span>-</pspan></td>
                {% endif %}
                {% if task.estimate_duration %}
                    <td><a href="" style="text-decoration: none; color: black;">{{task.estimate_duration}}</a></td>
                {% else %}
                    <td  class="text-center"><span>-</span></td>
                {% endif %}
                {% if task.completed_in %}
                    <td><a href="" style="text-decoration: none; color: black;">{{task.completed_in}}</a></td>
                {% else %}
                    <td  class="text-center"><span>-</span></td>
                {% endif %}
                <td><a href="" style="text-decoration: none; color: black;">
                    {% if task.status == 'pending' %}
                        <span class="badge bg-secondary rounded-pill">{{task.status}}</span>
                    {% elif task.status == 'in_progress' %}
                        <span class="badge bg-warning rounded-pill">{{task.status}}</span>
                    {% else %}
                        <span class="badge bg-success rounded-pill">{{task.status}}</span>
                    {% endif %}
                </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="d-flex justify-content-center">
    <span class="pt-5">No Tasks</span>
</div>
{% endif %}

{% endblock content %}