{% extends 'index.html' %}
{% load static %}
{% block content %}

<!-- HEADER -->
<div class="keen-header d-flex justify-content-between align-items-center p-4 pt-2 pb-0">

    <div class="keen-header-left">

        <span>Default</span>
        <p>Home- Dashboards</p>

    </div>

    <div class="keen-header-right d-flex">

        <select class="form-select" style="font-size:14px;">
            <option selected>Select Cambaign</option>
            <option value="twitter">Twitter Campaign</option>
            <option value="facebook">Facebook Campaign</option>
            <option value="adword">Adword Campaign</option>
            <option value="carbon">Carbon Campaign</option>
        </select>

        <button type="button" class="btn btn-success ms-2">+</button>

    </div>

</div>

<!-- PART ONE -->
<div class="part-one">

    <div class="row p-4 pt-1 pb-0">

        <div class="col-xl col-sm-12  dashboard-partone">

            <div class="row">
                
                <div class="col card bg-primary p-4 text-white active-project d-flex flex-column justify-content-between m-2">

                    <div>
                        <span class="count">69</span>
                        <p>Active Projects in April</p>
                    </div>

                    <div class="d-flex justify-content-between mt-5">

                        <p class="card-text">43 Pending</p>
                        <p class="card-text">72%</p>

                    </div>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                </div>

                <div class="col card p-4 project-earnings d-flex flex-column justify-content-between m-2">

                    <div class="d-flex align-items-center">

                        <span class="dollar">$</span>
                        <span class="amount ms-1">69,700</span>
                        <span class="percent badge bg-success ms-1">&#8673 2.2%</span>

                    </div>

                    <p>Projects Earning in April</p>

                    <div class="progress">

                        <div class="progress-bar bg-success" role="progressbar" style="width: 36%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>

                        <div class="progress-bar bg-primary" role="progressbar" style="width: 43%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>

                        <div class="progress-bar bg-secondary" role="progressbar" style="width: 21%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>

                    </div>

                    <div class="d-flex justify-content-between mt-3 card-text">
                        <p><b class="badge bg-success"> </b>Leaf CRM</p>
                        <p>$7,660</p>
                    </div>

                    <div class="d-flex justify-content-between card-text">
                        <p><b class="badge bg-primary"> </b>Mivy App</p>
                        <p>$2,820</p>
                    </div>

                    <div class="d-flex justify-content-between card-text">
                        <p><b class="badge bg-secondary"> </b>Others</p>
                        <p>$45,257</p>
                    </div>
                    

                </div>

            </div>

            <div class="row">

                <div class="col card p-4 m-2 external-links d-flex flex-column justify-content-between">

                    <div class="d-flex justify-content-between align-items-center">

                        <span>External Links</span>
                        <button type="button" class="btn" style="height: fit-content; font-size: 10px; background:darkgrey;">---</button>

                    </div>

                    <div class="">

                        <p><a href="#">Avg. Client Rating</a></p>
                        <hr style="border: none; border-top: 2px dashed #7ba7cf;">
                        <p><a href="#">Instagram Followers</a></p>
                        <hr style="border: none; border-top: 2px dashed #7ba7cf;">
                        <p><a href="#">Google Ads CPC</a></p>
                    
                    </div>

                </div>


                <div class="col card p-4 m-2 highlights d-flex flex-column justify-content-between">

                    <div>
                        <span>Highlights</span>
                    </div>
                    
                    <div class="d-flex justify-content-between mt-3">

                        <p>Avg. Client Rating</p>
                        <p>7.8/10</p>
                        
                    </div>

                    <hr style="border: none; border-top: 2px dashed #7ba7cf;">

                    <div class="d-flex justify-content-between">

                        <p>Avg. Quotes</p>
                        <p>730</p>

                    </div>

                    <hr style="border: none; border-top: 2px dashed #7ba7cf;">

                    <div class="d-flex justify-content-between">

                        <p>Avg. Agent Earnings</p>
                        <p>$2,309</p>

                    </div>

                </div>

            </div>

        </div>

        <div class="col-xl col-sm-12 mt-sm-4 mt-xl-2 p-3 m-2 authors-achievements bg-white d-flex flex-column justify-content-between">

            <div class="d-flex justify-content-between achievement-header">

                <div>
                    <h2>Authors Achievements</h2>
                    <p class="text-muted">Avg. 69.34% Conv. Rate</p>
                </div>

                <button type="button" class="btn" style="height: fit-content; font-size: 10px; background:darkgrey;">---</button>

            </div>

            <div class="d-flex justify-content-between achievement-categories ms-5 me-5">

                <div class="category d-flex flex-column align-items-center p-2 active">
                    <img src="{% static 'image/saas.png' %}" alt="..." style="width: 25px; height: 25px;">
                    <span class="mt-1">Saas</span>
                </div>

                <div class="category d-flex flex-column align-items-center p-2">
                    <img src="{% static 'image/crypto.png' %}" alt="..." style="width: 25px; height: 25px;">
                    <span class="mt-1">Crypto</span>
                </div>

                <div class="category d-flex flex-column align-items-center p-2">
                    <img src="{% static 'image/social.png' %}" alt="..." style="width: 25px; height: 25px;">
                    <span class="mt-1">Social</span>
                </div>

                <div class="category d-flex flex-column align-items-center p-2">
                    <img src="{% static 'image/mobile.png' %}" alt="..." style="width: 25px; height: 25px;">
                    <span class="mt-1">Mobile</span>
                </div>

                <div class="category d-flex flex-column align-items-center p-2">
                    <img src="{% static 'image/others.png' %}" alt="..." style="width: 25px; height: 25px;">
                    <span class="mt-1">Others</span>
                </div>

            </div>

            <div class="table-responsive mt-5">

                <table class="table table-borderless">

                    <thead>
                        <tr>
                            <th>AUTHOR</th>
                            <th>CONV.</th>
                            <th>CHART</th>
                            <th>VIEW</th>
                        </tr>
                    </thead>

                    <tbody class="align-middle">

                        <!-- item one -->
                        <tr>
                            <th rowspan="2">

                                <div class="d-flex">

                                    <div>
                                        <img src="{% static 'image/bg-person.jpg' %}" alt="..." style="width: 45px; height:45px">
                                    </div>

                                    <div class="d-grid ms-2">
                                        <span>Guyy Hawkins</span>
                                        <span>Haiti</span>
                                    </div>

                                </div>

                            </th>
                            <th rowspan="2">78.34%</th>
                            <th rowspan="2"><span class="text-success">--/\--\/--</span></th>
                            <th rowspan="2"><button type="button" class="btn" style="height: fit-content; font-size: 10px; background:darkgrey;">&rarr;</button></th>
                        </tr>

                        <tr></tr>

                        <!-- item two -->
                        <tr>
                            <th rowspan="2">

                                <div class="d-flex">

                                    <div>
                                        <img src="{% static 'image/bg-person.jpg' %}" alt="..." style="width: 45px; height:45px">
                                    </div>

                                    <div class="d-grid ms-2">
                                        <span>Jane Cooper</span>
                                        <span>Monaco</span>
                                    </div>

                                </div>

                            </th>
                            <th rowspan="2">63.83%</th>
                            <th rowspan="2"><span class="text-danger">--/\--\/--</span></th>
                            <th rowspan="2"><button type="button" class="btn" style="height: fit-content; font-size: 10px; background:darkgrey;">&rarr;</button></th>
                        </tr>

                        <tr></tr>

                        <!-- item three -->
                        <tr>
                            <th rowspan="2">

                                <div class="d-flex">

                                    <div>
                                        <img src="{% static 'image/bg-person.jpg' %}" alt="..." style="width: 45px; height:45px">
                                    </div>

                                    <div class="d-grid ms-2">
                                        <span>Jacob Jones</span>
                                        <span>Poland</span>
                                    </div>

                                </div>

                            </th>
                            <th rowspan="2">92.56%</th>
                            <th rowspan="2"><span class="text-success">--/\--\/--</span></th>
                            <th rowspan="2"><button type="button" class="btn" style="height: fit-content; font-size: 10px; background:darkgrey;">&rarr;</button></th>
                        </tr>

                        <tr></tr>

                        <!-- item four -->
                        <tr>
                            <th rowspan="2">

                                <div class="d-flex">

                                    <div>
                                        <img src="{% static 'image/bg-person.jpg' %}" alt="..." style="width: 45px; height:45px">
                                    </div>

                                    <div class="d-grid ms-2">
                                        <span>Cody Fishers</span>
                                        <span>Mexico</span>
                                    </div>

                                </div>

                            </th>
                            <th rowspan="2">63.08%</th>
                            <th rowspan="2"><span class="text-success">--/\--\/--</span></th>
                            <th rowspan="2"><button type="button" class="btn" style="height: fit-content; font-size: 10px; background:darkgrey;">&rarr;</button></th>
                        </tr>

                    </tbody>
                
                </table>

            </div>

        </div>

    </div>

</div>


<!-- PART TWO -->
<!-- <div class="part-two">

    <div class="row p-4 pt-1 pb-0">

        <div class="col p-4 bg-white m-2 part-two-left">

            <div class="d-flex justify-content-between">

                <div>
                    <h5>Performance Overview</h5>
                    <p>Users from all channels</p>
                </div>

                <div>
                    <button type="button" class="btn" style="height: fit-content; font-size: 10px; background:darkgrey;">Month</button>
                    <button type="button" class="btn" style="height: fit-content; font-size: 10px; background:darkgrey;">Week</button>
                </div>

            </div>

        </div>


        <div class="col p-4 bg-white m-2 part-two-right">


            

        </div>

    </div>

</div> -->


<!-- PART THREE -->
<div class="part-three">

    <div class="row p-4 pt-1 pb-0">

        <div class="col-xl col-sm-12 p-4 bg-white m-2 part-three-left d-flex flex-column justify-content-between">

            <div class="d-flex justify-content-between">

                <div>
                    <span>Visits by Country</span>
                    <p>20 countries share 97% visits</p>
                </div>

                <button type="button" class="btn" style="height: fit-content; font-size: 10px; background:darkgrey;">View All</button>

            </div>

            <div>

                <div class="d-flex justify-content-between align-items-center country-table">

                    <div class="d-flex align-items-center">

                        <div>
                            <img src="{% static 'image/bg-person.jpg' %}" alt="..." style="width: 28px; height:28px; border-radius: 6px;">
                        </div>

                        <div class="d-grid ms-2">
                            <span class="country">United States</span>
                            <span class="medium">Direct link clicks</span>
                        </div>

                    </div>

                    <div class="visits">
                        <span>9,763</span>
                        <span class="badge bg-success">&#8673 2.6%</span>
                    </div>

                </div>

                <hr>

                <div class="d-flex justify-content-between align-items-center country-table">

                    <div class="d-flex align-items-center">

                        <div>
                            <img src="{% static 'image/bg-person.jpg' %}" alt="..." style="width: 28px; height:28px; border-radius: 6px;">
                        </div>

                        <div class="d-grid ms-2">
                            <span class="country">Brasil</span>
                            <span class="medium">All Social Channels</span>
                        </div>

                    </div>

                    <div class="visits">
                        <span>4,062</span>
                        <span class="badge bg-danger">&#8675 0.4%</span>
                    </div>

                </div>      
                
                <hr>

                <div class="d-flex justify-content-between align-items-center country-table">

                    <div class="d-flex align-items-center">

                        <div>
                            <img src="{% static 'image/bg-person.jpg' %}" alt="..." style="width: 28px; height:28px; border-radius: 6px;">
                        </div>

                        <div class="d-grid ms-2">
                            <span class="country">Turkey</span>
                            <span class="medium">Mailchimp Campaigns</span>
                        </div>

                    </div>

                    <div class="visits">
                        <span>1,680</span>
                        <span class="badge bg-success">&#8673 0.2%</span>
                    </div>

                </div>   

                <hr>

                <div class="d-flex justify-content-between align-items-center country-table">

                    <div class="d-flex align-items-center">

                        <div>
                            <img src="{% static 'image/bg-person.jpg' %}" alt="..." style="width: 28px; height:28px; border-radius: 6px;">
                        </div>

                        <div class="d-grid ms-2">
                            <span class="country">France</span>
                            <span class="medium">Impact Radius visits</span>
                        </div>

                    </div>

                    <div class="visits">
                        <span>849</span>
                        <span class="badge bg-success">&#8673 4.1%</span>
                    </div>

                </div>  

                <hr>

                <div class="d-flex justify-content-between align-items-center country-table">

                    <div class="d-flex align-items-center">

                        <div>
                            <img src="{% static 'image/bg-person.jpg' %}" alt="..." style="width: 28px; height:28px; border-radius: 6px;">
                        </div>

                        <div class="d-grid ms-2">
                            <span class="country">India</span>
                            <span class="medium">Many Sources</span>
                        </div>

                    </div>

                    <div class="visits">
                        <span>604</span>
                        <span class="badge bg-danger">&#8675 8.3%</span>
                    </div>

                </div>  

                <hr>

                <div class="d-flex justify-content-between align-items-center country-table">

                    <div class="d-flex align-items-center">

                        <div>
                            <img src="{% static 'image/bg-person.jpg' %}" alt="..." style="width: 28px; height:28px; border-radius: 6px;">
                        </div>

                        <div class="d-grid ms-2">
                            <span class="country">Sweden</span>
                            <span class="medium">Social Network</span>
                        </div>

                    </div>

                    <div class="visits">
                        <span>237</span>
                        <span class="badge bg-success">&#8673 1.9%</span>
                    </div>

                </div> 

            </div>

        </div>


        <div class="col-xl col-sm-12 p-4 bg-white m-2 part-three-right ">


            <div class="d-flex justify-content-between">

                <div>

                    <div class="d-flex">
                        <div>
                            <h5>5,037</h5>
                        </div>
                        <div class="ms-2">
                            <span class="badge bg-success">&#8673 2.2%</span>
                        </div>
                    </div>

                    <p>Visits by Social Networks</p>
                    
                </div>

                <button type="button" class="btn" style="height: fit-content; font-size: 10px; background:darkgrey;">---</button>

            </div>

            <div class="mt-4">

                <div class="d-flex justify-content-between align-items-center">

                    <div class="d-flex align-items-center">

                        <div>
                            <img src="{% static 'image/bg-person.jpg' %}" alt="..." style="width: 35px; height:35px; border-radius: 50%;">
                        </div>

                        <div class="d-grid ms-2">
                            <span>Dribble</span>
                            <span>Community</span>
                        </div>

                    </div>

                    <div>
                        <span>579</span>
                        <span class="badge bg-success">&#8673 2.6%</span>
                    </div>

                </div>

                <hr>

                <div class="d-flex justify-content-between align-items-center">

                    <div class="d-flex align-items-center">

                        <div>
                            <img src="{% static 'image/bg-person.jpg' %}" alt="..." style="width: 35px; height:35px; border-radius: 50%;">
                        </div>

                        <div class="d-grid ms-2">
                            <span>Linked In</span>
                            <span>Social Media</span>
                        </div>

                    </div>

                    <div>
                        <span>1,088</span>
                        <span class="badge bg-danger">&#8675 0.4%</span>
                    </div>

                </div>      
                
                <hr>

                <div class="d-flex justify-content-between align-items-center">

                    <div class="d-flex align-items-center">

                        <div>
                            <img src="{% static 'image/bg-person.jpg' %}" alt="..." style="width: 35px; height:35px; border-radius: 50%;">
                        </div>

                        <div class="d-grid ms-2">
                            <span>Slack</span>
                            <span>Messenger</span>
                        </div>

                    </div>

                    <div>
                        <span>794</span>
                        <span class="badge bg-success">&#8673 0.2%</span>
                    </div>

                </div>   

                <hr>

                <div class="d-flex justify-content-between align-items-center">

                    <div class="d-flex align-items-center">

                        <div>
                            <img src="{% static 'image/bg-person.jpg' %}" alt="..." style="width: 35px; height:35px; border-radius: 50%;">
                        </div>

                        <div class="d-grid ms-2">
                            <span>Youtube</span>
                            <span>Video Channel</span>
                        </div>

                    </div>

                    <div>
                        <span>978</span>
                        <span class="badge bg-success">&#8673 4.1%</span>
                    </div>

                </div>  

                <hr>

                <div class="d-flex justify-content-between align-items-center">

                    <div class="d-flex align-items-center">

                        <div>
                            <img src="{% static 'image/bg-person.jpg' %}" alt="..." style="width: 35px; height:35px; border-radius: 50%;">
                        </div>

                        <div class="d-grid ms-2">
                            <span>Instagram</span>
                            <span>Social Network</span>
                        </div>

                    </div>

                    <div>
                        <span>1458</span>
                        <span class="badge bg-success">&#8673 8.3%</span>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>


<!-- PART FOUR -->
<div class="part-four">

    <div class="row p-4 pt-1 pb-0">

        <div class="col-xl-4 col-sm-12 p-4 bg-white m-2 part-four-left d-flex flex-column justify-content-between">

                <div class="d-flex justify-content-between">

                    <div class="d-flex align-items-center mt-0">
                        <p class="dollar">$</p>
                        <p class="amount ms-1">69,700</p>
                        <p class="badge bg-success ms-1">&#8673 2.2%</p>
                    </div>

                    <div>
                        <button type="button" class="btn" style="height: fit-content; font-size: 10px; background:darkgrey;">---</button>
                    </div>

                </div>

                <span>Avg. Agent Earnings</span>

                <div class="time-periods d-flex justify-content-between mt-4">

                    <a class="nav-link btn btn-flex flex-center btn-active-danger btn-color-gray-600 btn-active-color-white rounded-2 w-45px h-35px active">1d</a>
                    <a class="text-muted">5d</a>
                    <a class="text-muted">1m</a>
                    <a class="text-muted">6m</a>
                    <a class="text-muted">1y</a>

                </div>

                <div class="graph mt-3">

                </div>


                <div class="d-flex justify-content-between mt-4 card-text">
                    <p><b class="text-muted">2:30 PM</b></p>
                    <p class="ms-5"><b>$2,756.26</b></p>
                    <p class="text-danger"><b>-139.34</b></p>
                </div>

                <div class="d-flex justify-content-between card-text">
                    <p><b class="text-muted">3:10 PM</b></p>
                    <p class="ms-5"><b>$3,207.03</b></p>
                    <p class="text-success"><b>+576.24</b></p>
                </div>

                <div class="d-flex justify-content-between card-text">
                    <p><b class="text-muted">3:55 PM</b></p>
                    <p class="ms-5"><b>$3,274.94</b></p>
                    <p class="text-success"><b>+124.03</b></p>
                </div>

        </div>

        <div class="col-xl col-sm-12 p-4 bg-white m-2 part-four-right d-flex flex-column justify-content-between">

            <div class="d-flex justify-content-between">

                <div>
                    <span>Projects Stats</span>
                    <p class="text-muted">Updated 37 minutes ago</p>
                </div>

                <button type="button" class="btn" style="height: fit-content; font-size: 10px; background:darkgrey;">History</button>

            </div>

            <div class="table-responsive">

                <table class="table table-borderless">

                    <thead>

                        <tr>
                            <th colspan="2">ITEM</th>
                            <th>BUDGET</th>
                            <th>PROGRESS</th>
                            <th>STATUS</th>
                            <th>CHART</th>
                            <th>VIEW</th>
                        </tr>

                    </thead>

                    <tbody class="align-middle">

                        <!-- item one -->
                        <tr>
                            <th rowspan="2" colspan="2">

                                <div class="d-flex">

                                    <div>
                                        <img src="{% static 'image/bg-person.jpg' %}" alt="..." style="width: 45px; height:45px">
                                    </div>

                                    <div class="d-grid ms-2">
                                        <span>Mivy App</span>
                                        <span class="text-muted">Jane Cooper</span>
                                    </div>

                                </div>

                            </th>
                            <th rowspan="2">$32,400</th>
                            <th rowspan="2"><span class="badge bg-success">&#8673 9.2%</span></th>
                            <th rowspan="2"><span class="badge bg-primary">In Process</span></th>
                            <th rowspan="2"><span class="text-success">--\/--/\--</span></th>
                            <th rowspan="2"><button type="button" class="btn" style="height: fit-content; font-size: 10px; background:darkgrey;">&rarr;</button></th>
                        </tr>

                        <tr></tr>

                        <!-- item two -->
                        <tr>
                            <th rowspan="2" colspan="2">

                                <div class="d-flex">

                                    <div>
                                        <img src="{% static 'image/bg-person.jpg' %}" alt="..." style="width: 45px; height:45px">
                                    </div>

                                    <div class="d-grid ms-2">
                                        <span>Avioniva</span>
                                        <span class="text-muted">Esther Howard</span>
                                    </div>

                                </div>

                            </th>
                            <th rowspan="2">$256,910</th>
                            <th rowspan="2"><span class="badge bg-danger">&#8675 0.4%</span></th>
                            <th rowspan="2"><span class="badge bg-warning">On Hold</span></th>
                            <th rowspan="2"><span class="text-danger">--\/--/\--</span></th>
                            <th rowspan="2"><button type="button" class="btn" style="height: fit-content; font-size: 10px; background:darkgrey;">&rarr;</button></th>
                        </tr>

                        <tr></tr>

                        <!-- item three -->
                        <tr>
                            <th rowspan="2" colspan="2">

                                <div class="d-flex">

                                    <div>
                                        <img src="{% static 'image/bg-person.jpg' %}" alt="..." style="width: 45px; height:45px">
                                    </div>

                                    <div class="d-grid ms-2">
                                        <span>Charto CRM</span>
                                        <span class="text-muted">Jenny Wilson</span>
                                    </div>

                                </div>

                            </th>
                            <th rowspan="2">$8,220</th>
                            <th rowspan="2"><span class="badge bg-success">&#8673 9.2%</span></th>
                            <th rowspan="2"><span class="badge bg-primary">In Process</span></th>
                            <th rowspan="2"><span class="text-success">--\/--/\--</span></th>
                            <th rowspan="2"><button type="button" class="btn" style="height: fit-content; font-size: 10px; background:darkgrey;">&rarr;</button></th>
                        </tr>

                        <tr></tr>

                        <!-- item four -->
                        <tr>
                            <th rowspan="2" colspan="2">

                                <div class="d-flex">

                                    <div>
                                        <img src="{% static 'image/bg-person.jpg' %}" alt="..." style="width: 45px; height:45px">
                                    </div>

                                    <div class="d-grid ms-2">
                                        <span>Tower Hill</span>
                                        <span class="text-muted">Cody Fisher</span>
                                    </div>

                                </div>

                            </th>
                            <th rowspan="2">$74,000</th>
                            <th rowspan="2"><span class="badge bg-success">&#8673 9.2%</span></th>
                            <th rowspan="2"><span class="badge bg-success">Completed</span></th>
                            <th rowspan="2"><span class="text-success">--\/--/\--</span></th>
                            <th rowspan="2"><button type="button" class="btn" style="height: fit-content; font-size: 10px; background:darkgrey;">&rarr;</button></th>
                        </tr>

                        <tr></tr>

                        <!-- item five -->
                        <tr>
                            <th rowspan="2" colspan="2">

                                <div class="d-flex">

                                    <div>
                                        <img src="{% static 'image/bg-person.jpg' %}" alt="..." style="width: 45px; height:45px">
                                    </div>

                                    <div class="d-grid ms-2">
                                        <span>9 Degree</span>
                                        <span class="text-muted">Savannah Nguyen</span>
                                    </div>

                                </div>

                            </th>
                            <th rowspan="2">$183,300</th>
                            <th rowspan="2"><span class="badge bg-danger">&#8675 0.4%</span></th>
                            <th rowspan="2"><span class="badge bg-primary">In process</span></th>
                            <th rowspan="2"><span class="text-danger">--\/--/\--</span></th>
                            <th rowspan="2"><button type="button" class="btn" style="height: fit-content; font-size: 10px; background:darkgrey;">&rarr;</button></th>
                        </tr>

                    </tbody>

                </table>

            </div>

        </div>
        
    </div>

</div>

{% endblock content %}