{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="d-flex justify-content-between mb-3">
    <h3>Sequential Code Settings</h3>
</div>

<form method="POST" id="sequenceFormOne" action="" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="mt-3">
        <span class="modelsHeading">Quotation</span>
        <hr class="modelsHeadingLine">
        <div class="d-flex justify-content-between">

            <div class="row d-flex justify-content-start settings_content">

                <div class="col d-flex align-items-center">
                    <label for="formCodePrefix" class="form-label me-2 mt-1">Prefix*</label>
                    {{ sequential_code_form.code_prefix }}
                </div>

                <div class="col d-flex align-items-center">
                    <label for="formCodeSize" class="form-label me-2 mt-1">Sequence Size*</label>
                    {{ sequential_code_form.code_size }}
                </div>

                <div class="col d-flex align-items-center">
                    <label for="formCodeSuffix" class="form-label me-2 mt-1">Suffix</label>
                    {{ sequential_code_form.code_suffix }}
                </div>

            </div>

            <div>
                <input type="submit" class="btn bg-primary text-white" id="sequencecreatebtn" value="Save">
            </div>

        </div>
    </div>
</form>


<form method="POST" id="sequenceFormTwo" action="" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mt-4">
        <span class="modelsHeading">QuotationJob</span>
        <hr class="modelsHeadingLine">
        <div class="d-flex justify-content-between">

            <div class="row d-flex justify-content-start settings_content">

                <div class="col d-flex align-items-center">
                    <label for="formCodePrefix" class="form-label me-2 mt-1">Prefix*</label>
                    {{ sequential_code_form.code_prefix }}
                </div>

                <div class="col d-flex align-items-center">
                    <label for="formCodeSize" class="form-label me-2 mt-1">Sequence Size*</label>
                    {{ sequential_code_form.code_size }}
                </div>

                <div class="col d-flex align-items-center">
                    <label for="formCodeSuffix" class="form-label me-2 mt-1">Suffix</label>
                    {{ sequential_code_form.code_suffix }}
                </div>

            </div>

            <div>
                <input type="submit" class="btn bg-primary text-white" id="sequencecreatebtn" value="Save">
            </div>

        </div>
    </div>
</form>


<form method="POST" id="sequenceFormThree" action="" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mt-4">
        <span class="modelsHeading">Task</span>
        <hr class="modelsHeadingLine">
        <div class="d-flex justify-content-between">

            <div class="row d-flex justify-content-start settings_content">

                <div class="col d-flex align-items-center">
                    <label for="formCodePrefix" class="form-label me-2 mt-1">Prefix*</label>
                    {{ sequential_code_form.code_prefix }}
                </div>

                <div class="col d-flex align-items-center">
                    <label for="formCodeSize" class="form-label me-2 mt-1">Sequence Size*</label>
                    {{ sequential_code_form.code_size }}
                </div>

                <div class="col d-flex align-items-center">
                    <label for="formCodeSuffix" class="form-label me-2 mt-1">Suffix</label>
                    {{ sequential_code_form.code_suffix }}
                </div>

            </div>

            <div>
                <input type="submit" class="btn bg-primary text-white" id="sequencecreatebtn" value="Save">
            </div>

        </div>
    </div>

</form>

<script>

        const quotation_form = document.getElementById("sequenceFormOne");
        const quotation_prefix = quotation_form.querySelector("#formCodePrefix");
        quotation_prefix.value = '{{ quotation_code.code_prefix }}';
        const quotation_code_size = quotation_form.querySelector("#formCodeSize");
        quotation_code_size.value = '{{ quotation_code.code_size }}';
        const quotation_suffix = quotation_form.querySelector("#formCodeSuffix");
        quotation_suffix.value = '{{ quotation_code.code_suffix }}';


        const job_form = document.getElementById("sequenceFormTwo");
        const job_prefix = job_form.querySelector("#formCodePrefix");
        job_prefix.value = '{{ quotation_job_code.code_prefix }}';
        const job_code_size = job_form.querySelector("#formCodeSize");
        job_code_size.value = '{{ quotation_job_code.code_size }}';
        const job_suffix = job_form.querySelector("#formCodeSuffix");
        job_suffix.value = '{{ quotation_job_code.code_suffix }}';


        const task_form = document.getElementById("sequenceFormThree");
        const task_prefix = task_form.querySelector("#formCodePrefix");
        task_prefix.value = '{{ task_code.code_prefix }}';
        const task_code_size = task_form.querySelector("#formCodeSize");
        task_code_size.value = '{{ task_code.code_size }}';
        const task_suffix = task_form.querySelector("#formCodeSuffix");
        task_suffix.value = '{{ task_code.code_suffix }}';

</script>

{% endblock content %}