{% extends 'index.html' %}
{% block content %}


<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="d-flex justify-content-between mb-3">

        <div>
            <h3>Sequential Code Settings</h3>
        </div>
        <div>
            <input type="submit" class="btn bg-primary text-white" id="sequencecreatebtn" value="Save">
        </div>

    </div>

    <div class="mt-3" id="sequenceFormOne">
        <span class="modelsHeading">Quotation</span>
        <hr class="modelsHeadingLine">
        <div class="d-flex justify-content-between">

            <div class="row d-flex justify-content-start settings_content">

                <div class="col d-flex align-items-center">
                    <label for="formCodePrefix" class="form-label me-2 mt-1">Prefix*</label>
                    {{ quotation_code_form.code_prefix }}
                </div>

                <div class="col d-flex align-items-center">
                    <label for="formCodeSize" class="form-label me-2 mt-1">Sequence Size*</label>
                    {{ quotation_code_form.code_size }}
                </div>

                <div class="col d-flex align-items-center">
                    <label for="formCodeSuffix" class="form-label me-2 mt-1">Suffix</label>
                    {{ quotation_code_form.code_suffix }}
                </div>

            </div>

        </div>
    </div>

    <div class="mt-4" id="sequenceFormTwo">
        <span class="modelsHeading">QuotationJob</span>
        <hr class="modelsHeadingLine">
        <div class="d-flex justify-content-between">

            <div class="row d-flex justify-content-start settings_content">

                <div class="col d-flex align-items-center">
                    <label for="formCodePrefix" class="form-label me-2 mt-1">Prefix*</label>
                    {{ quotationjob_code_form.code_prefix }}
                </div>

                <div class="col d-flex align-items-center">
                    <label for="formCodeSize" class="form-label me-2 mt-1">Sequence Size*</label>
                    {{ quotationjob_code_form.code_size }}
                </div>

                <div class="col d-flex align-items-center">
                    <label for="formCodeSuffix" class="form-label me-2 mt-1">Suffix</label>
                    {{ quotationjob_code_form.code_suffix }}
                </div>

            </div>
        </div>
    </div>

    <div class="mt-4" id="sequenceFormThree">
        <span class="modelsHeading">Task</span>
        <hr class="modelsHeadingLine">
        <div class="d-flex justify-content-between">

            <div class="row d-flex justify-content-start settings_content">

                <div class="col d-flex align-items-center">
                    <label for="formCodePrefix" class="form-label me-2 mt-1">Prefix*</label>
                    {{ task_code_form.code_prefix }}
                </div>

                <div class="col d-flex align-items-center">
                    <label for="formCodeSize" class="form-label me-2 mt-1">Sequence Size*</label>
                    {{ task_code_form.code_size }}
                </div>

                <div class="col d-flex align-items-center">
                    <label for="formCodeSuffix" class="form-label me-2 mt-1">Suffix</label>
                    {{ task_code_form.code_suffix }}
                </div>

            </div>
        </div>
    </div>
    
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
        
    $(document).ready(function () {

        // Add an event listener for the "Assign" button click
        $('#sequencecreatebtn').click(function (e) {
            e.preventDefault();
            
            // Get Quotation Code Data
            const quotation_prefix = $('#sequenceFormOne #formCodePrefix').val();
            const quotation_size = $('#sequenceFormOne #formCodeSize').val();
            const quotation_suffix = $('#sequenceFormOne #formCodeSuffix').val();

            // Get QuotationJob Code Data
            const quotation_job_prefix = $('#sequenceFormTwo #formCodePrefix').val();
            const quotation_job_size = $('#sequenceFormTwo #formCodeSize').val();
            const quotation_job_suffix = $('#sequenceFormTwo #formCodeSuffix').val();
            
            // Get Quotation Code Data
            const task_prefix = $('#sequenceFormThree #formCodePrefix').val();
            const task_size = $('#sequenceFormThree #formCodeSize').val();
            const task_suffix = $('#sequenceFormThree #formCodeSuffix').val();

            // Include the CSRF token in the headers
            const csrfToken = $('input[name=csrfmiddlewaretoken]').val();
            const headers = {
                'X-CSRFToken': csrfToken,
                "Content-Type": 'application/json',
            };

            const data =  {
                quotation_prefix: quotation_prefix,
                quotation_size: quotation_size,
                quotation_suffix: quotation_suffix,
                quotation_job_prefix: quotation_job_prefix,
                quotation_job_size: quotation_job_size,
                quotation_job_suffix: quotation_job_suffix,
                task_prefix: task_prefix,
                task_size: task_size,
                task_suffix: task_suffix,
            }
            
            console.log({data})
    
            //return
            // Make an AJAX request to save the assignment
            $.ajax({
                url: '{% url 'sequential_code' %}',
                type: 'POST',
                data:JSON.stringify(data),
                headers: headers,
                success: function (response) {
                    if (response.redirect_url) {
                        // Redirect to the specified URL
                        window.location.href = response.redirect_url;
                    } else {
                        // Handle any other response conditions
                        console.log("Error: " + response.error);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("AJAX request failed:", textStatus, errorThrown);
                }
            });
        });

    });

</script>

{% endblock content %}