{% extends 'index.html' %}
{% block content %}
{% load static %}

<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}

    {% if quotation_form.errors %}
        <div class="alert alert-danger">
            {{ quotation_form.errors }}
        </div>
    {% endif %}

    {% if job_formset.errors %}
        <div class="alert alert-danger">
            {{ job_formset.errors }}
        </div>
    {% endif %}

    <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-secondary"><a href="{% url 'view_quotations' %}" style="text-decoration: none; color: white;">Back</a></button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

    <hr>

    <div class="d-flex justify-content-between">

        <div>
            {% if quotation.id %}
                <h2 class="d-none">{{ quotation_form.sequential_code }}</h2>
                <h2>{{ quotation.sequential_code }}</h2>
            {% endif %}
        </div>
        
        <div style="font-size: 24px;">

                <span class="d-none">{{ quotation_form.status }}</span>
                
                {% if quotation.id %}
                    {% if quotation.status == 'draft' %}
                        <span class="badge bg-secondary rounded-pill">{{quotation.status}}</span>
                    {% elif quotation.status == 'in_process' %}
                        <span class="badge bg-warning rounded-pill">{{quotation.status}}</span>
                    {% elif quotation.status == 'ready_to_deliver' %}
                        <span class="badge bg-info rounded-pill">{{quotation.status}}</span>
                    {% else %}
                            <span class="badge bg-success rounded-pill">{{quotation.status}}</span>
                    {% endif %}
                {% else %}
                    {% if quotation_form.status == 'draft' %}
                        <span class="badge bg-secondary rounded-pill">{{quotation_form.status}}</span>
                    {% elif quotation_form.status == 'in_process' %}
                        <span class="badge bg-warning rounded-pill">{{quotation_form.status}}</span>
                    {% elif quotation_form.status == 'ready_to_deliver' %}
                        <span class="badge bg-info rounded-pill">{{quotation_form.status}}</span>
                    {% else %}
                            <span class="badge bg-success rounded-pill">{{quotation_form.status}}</span>
                    {% endif %}
                {% endif %}

        </div>
    </div>
    
    <div class="row ms-4 me-4 d-flex justify-content-center">
        <div class="col mb-4">
            <label for="formCustomerName" class="form-label">Customer</label>
            {{ quotation_form.customer_id }}
        </div>

        <div class="col mb-4">
            <label for="formChalan" class="form-label">Chalan No.</label>
            {{ quotation_form.chalan_no }}
        </div>
        <div class="col mb-4 d-none">
            <label for="formChalan" class="form-label">Created On</label>
            {{ quotation_form.created_on }}
        </div>
    </div>

    <table class="table" id="jobTable">

        <thead>

            <tr>
                <th>#</th>
                <th>Length</th>
                <th>Width</th>
                <th>Height</th>
                <th>Remarks</th>
                <th>Qty</th>
                <th>Attachment</th>
            </tr>

        </thead>

        <tbody>

        {{ job_formset.management_form }}

        {% if quotation_form.instance %}

        {% for job in job_formset %}

            <tr class="d-flex">
                <td>{{ forloop.counter }}{{ job.id }}</td>

                {% if job.id %}
                    <td class="d-none">
                        <h2 class="d-none">{{ job.sequential_code }}</h2>
                    </td>
                {% endif %}

                <td>{{ job.length }}</td>

                <td>{{ job.width }}</td>

                <td>{{ job.height }}</td>

                <td>{{ job.remarks }}</td>

                <td>{{ job.quantity }}</td>

                <td>{{ job.attachment }}</td>
            </tr>

        {% endfor %}

        {% endif %}

        </tbody>

    </table>

    <div>
        <button type="button" id="addJobButton" class="btn btn-secondary">Add Job</button>
    </div>

    {% comment %} <script src="{% static 'js/quotation/employee.js' %}"></script> {% endcomment %}


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const addJobButton = document.getElementById("addJobButton");
            const jobTableBody = document.querySelector("#jobTable tbody");
            let jobRowCounter = {{ job_formset|length }};
            
            addJobButton.addEventListener("click", function () {
                const newRow = document.createElement("tr");
                newRow.innerHTML = `
                    <th scope="col">${jobRowCounter + 1}</th>
                    <th scope="col"><input type="text" class="form-control" name="form-${jobRowCounter}-length" /></th>
                    <th scope="col"><input type="text" class="form-control" name="form-${jobRowCounter}-width" /></th>
                    <th scope="col"><input type="text" class="form-control" name="form-${jobRowCounter}-height" /></th>
                    <th scope="col"><input type="text" class="form-control" name="form-${jobRowCounter}-remarks" /></th>
                    <th scope="col"><input type="number" class="form-control" name="form-${jobRowCounter}-quantity" /></th>
                    <th scope="col"><input type="file" name="form-${jobRowCounter}-attachment" /></th>
                `;
                jobTableBody.appendChild(newRow);
                jobRowCounter++;
            });
        
            // Trigger the "Add Job" button click to add the initial set of job fields.
            // addJobButton.click();
        });
        
    </script>

{% endblock content %}
