{% extends 'index.html' %}
{% block content %}
{% load static %}

<div class='d-flex justify-content-between'>
    <div class="d-flex">
        <h5> <span class="badge bg-secondary">Draft: {{ draft_quotation }} </span> </h5>
        <h5> <span class="badge bg-warning ms-2">In Process: {{ in_process_quotation }} </span> </h5>
        <h5> <span class="badge bg-info ms-2">Ready to Deliver: {{ ready_to_deliver_quotation }} </span> </h5>
    </div>
    
    <div>
        <a href = "{% url 'create_quotation' %}"class="btn btn-primary">Create</a>
    </div>
</div>

{% if quotations_exist %}
<div class='table-responsive'>
    <table class="table table-striped mt-2 align-middle">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Number</th>
            <th scope="col">Chalan No.</th>
            <th scope="col">Customer</th>
            <th scope="col">created_on</th>
            <th scope="col">status</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for quotation in quotations %}
            <tr style="height: 42px;">
                <td class="text-center">{{forloop.counter}}</td>
                <td><a href="{% url 'update_quotation' quotation.id %}" style="text-decoration: none; color: black;">{{quotation.sequential_code}}</a></td>
                <td><a href="{% url 'update_quotation' quotation.id %}" style="text-decoration: none; color: black;">{{quotation.chalan_no}}</a></td>
                <td><a href="{% url 'update_quotation' quotation.id %}" style="text-decoration: none; color: black;">
                    {% if quotation.customer_id.profile_image %}
                        <img src="{{quotation.customer_id.profile_image.url}}" alt="Profile not loading..." class="me-1" style="width: 25px; height: 25px; border-radius: 50%;">{{quotation.customer_id.name}}
                    {% else %}
                        <img src="{% static 'image/default.png' %}" alt="Profile not loading..." class="me-1" style="width: 25px; height: 25px; border-radius: 50%;">{{quotation.customer_id.name}}
                    {% endif %}
                </a>
                </td>
                <td><a href="{% url 'update_quotation' quotation.id %}" style="text-decoration: none; color: black;">{{quotation.created_on|date:"m/d/Y g:i a" }}</a></td>
                <td><a href="{% url 'update_quotation' quotation.id %}" style="text-decoration: none; color: black;">
                    {% if quotation.status == 'draft' %}
                        <span class="badge bg-secondary rounded-pill">{{quotation.status}}</span>
                    {% elif quotation.status == 'in_process' %}
                        <span class="badge bg-warning rounded-pill">{{quotation.status}}</span>
                    {% elif quotation.status == 'ready_to_deliver' %}
                        <span class="badge bg-info rounded-pill">{{quotation.status}}</span>
                    {% else %}
                        <span class="badge bg-success rounded-pill">{{quotation.status}}</span>
                    {% endif %}
                </a>
                </td>
                <td>
                    <a href="" class="deleteQuotation" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-id="{{quotation.id}}" data-bs-name="{{ quotation.customer_id.name }}" data-bs-chalan="{{ quotation.chalan_no }}" style="color: black;"><i class="bi bi-trash"></i>
                    </a>

                    <!-- Modal for confirming deleting Quotation -->
                    <div class="modal fade" id="deleteModal" role="dialog" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete the record with the following details?</p>
                                    <p id="customerId"></p>
                                    <p id="customerName"></p>
                                    <p id="chalanNumber"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="" class="btn btn-danger" id="confirmDelete" style="color: black;">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- JavaScript to display the values -->
<script>
    // Add click event listeners to each deleteQuotation link
    var deleteQuotationLinks = document.querySelectorAll('.deleteQuotation');

    deleteQuotationLinks.forEach(function(link) {
        link.addEventListener('click', function(event) {
            // Prevent the default behavior of the link
            event.preventDefault();

            // Get the 'data-bs-id' and 'data-bs-name' and 'data-bs-chalan' attributes for the clicked link
            var id = link.getAttribute('data-bs-id');
            var name = link.getAttribute('data-bs-name');
            var chalan = link.getAttribute('data-bs-chalan');

            // Set the values in the modal
            {% comment %} var customerId = document.getElementById('customerId'); {% endcomment %}
            var customerName = document.getElementById('customerName');
            var chalanNumber = document.getElementById('chalanNumber');

            {% comment %} customerId.textContent = 'Customer Id: ' + id; {% endcomment %}
            customerName.textContent = 'Customer Name: ' + name;
            chalanNumber.textContent = 'Chalan Number: ' + chalan;

            console.log(id);

            // Set the href attribute of the "Delete" link
            var confirmDeleteLink = document.getElementById('confirmDelete');
            confirmDeleteLink.href = `delete_quotation/${id}`;
        });
    });
</script>



{% else %}
<div class="d-flex justify-content-center">
    <span class="pt-5">Empty quotations. <a href="{% url 'create_quotation' %}">Create</a> a new one.</span>
</div>
{% endif %}



{% endblock content %}