{% extends 'index.html' %}
{% load static %}
{% block content %}

<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="row ms-4 me-4 d-grid justify-content-center">
        <div class="col mb-4 d-flex justify-content-center">

            <img id="image-preview" src="" alt="Image Preview" style="width: 100px; height: 100px; border-radius: 50%; display: none;">

            {% if customer.profile_image %}
                <img src="{{customer.profile_image.url}}" alt="Profile not loading..." style="width: 100px; height: 100px; border-radius: 50%;">
                {{ customer_form.profile_image }}
            {% else %}
                <img src="{% static 'image/default.png' %}" alt="Profile not loading..." style="width: 100px; height: 100px; border-radius: 50%;">
                {{ customer_form.profile_image }}
            {% endif %}

            <label for="formImage" class="form-label">
                <i class="bi bi-pencil-square" style="cursor: pointer;"></i>
            </label>
        </div>

        <div class="col mb-4">
            <label for="formName" class="form-label">Name</label>
            {{ customer_form.name }}
        </div>

        <div class="col mb-4">
            <label for="formAddress" class="form-label">Address</label>
            {{ customer_form.address }}
        </div>

        <div class="col mb-4">
            <label for="formContact" class="form-label">Contact</label>
            {{ customer_form.contact }}
        </div>

        <div class="col mb-4">
            <label for="formEmail" class="form-label">Email</label>
            {{ customer_form.email }}
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <input type="submit" class="btn bg-primary text-white" id="customercreatebtn" value="Save">
    </div>

</form>

<script>
    const imageInput = document.getElementById('formImage');
    const imagePreview = document.getElementById('image-preview');

    imageInput.addEventListener('change', function () {
        const file = imageInput.files[0];
        if (file) {
            const reader = new FileReader();

            reader.onload = function (e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block';
            };

            reader.readAsDataURL(file);
            
            // Hide the existing/default image
            const existingImage = document.querySelector('.col.mb-4.d-flex.justify-content-center img:not(#image-preview)');
            existingImage.style.display = 'none';
        } else {
            imagePreview.src = '';
            imagePreview.style.display = 'none';
            
            // Show the existing/default image again
            const existingImage = document.querySelector('.col.mb-4.d-flex.justify-content-center img:not(#image-preview)');
            existingImage.style.display = 'block';
        }
    });
</script>

{% endblock content %}