{% extends 'index.html' %}
{% block content %}

<div class='justify-content-end'>
    <a href = "{% url 'create_customer' %}"class="btn btn-primary">Add</a>
</div>

<div class='table-responsive'>
    <table class="table table-striped mt-2 align-middle">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Profile</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Contact</th>
            <th scope="col">E-mail</th>
            {% comment %} <th></th> {% endcomment %}
            {% comment %} <th></th> {% endcomment %}
        </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr style="height: 42px;">
                <td class="text-center">{{forloop.counter}}</td>
                <td>
                    {% if customer.profile_image %}
                        <img src="{{customer.profile_image.url}}" alt="Profile not loading..." style="width: 25px; height: 25px;">
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>{{customer.name}}</td>
                <td>{{customer.address}}</td>
                <td>{{customer.contact}}</td>
                <td>{{customer.email}}</td>
                {% comment %} <td><a href="update-customer/{{customer.id}}/" class="btn btn-warning">update</a></td> {% endcomment %}
                {% comment %} <td><a href="delete-customer/{{customer.id}}/" class="btn btn-danger">delete</a></td> {% endcomment %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}