{% extends 'home.html' %}
{% block content %}

<form action="" method="post">
    {% csrf_token %}

    <div class="row ms-4 me-4 d-flex justify-content-center">
        <div class="col mb-4">
            <label for="formUsername" class="form-label">Username</label>
            {{ form.username }}
        </div>

        <div class="col mb-4">
            <label for="formEmail" class="form-label">Email</label>
            {{ form.email }}
        </div>
    </div>

    <div class="row ms-4 me-4 d-flex justify-content-center">
        <div class="col mb-4">
            <label for="formDesignation" class="form-label">Designation</label>
            {{ form.designation }}
        </div>

        <div class="col mb-4">
            <label for="formMobile" class="form-label">Mobile</label>
            {{ form.mobile }}
        </div>
    </div>

    <div class="row ms-4 me-4 d-flex justify-content-center">
        <div class="col mb-4">
            <label for="formPassword" class="form-label">Password</label>
            {{ form.password }}
        </div>

        <div class="col mb-4">
            <label for="formConfirmpassword" class="form-label">Confirm Password</label>
            {{ form.confirm_password }}
        </div>
    </div>

    <div class="row ms-4 me-4 d-flex justify-content-center">
        <div class="col mb-4">
            <label for="formIsstaff" class="form-label">Is Staff</label>
            {{ form.is_staff }}
        </div>

        <div class="col mb-4">
            <label for="formIssuperuser" class="form-label">Is Superuser</label>
            {{ form.is_superuser }}
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <input type="submit" class="btn bg-primary text-white" id="register" value="Create">
    </div>



</form>
{% endblock content %}