{% extends "index.html" %}
<!-- Modal -->
{% block content %}


{% if show_modal %}
<!-- Modal -->
<div class="modal fade" id="takeRestModal" tabindex="-1" aria-labelledby="takeRestModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="takeRestModalLabel">Take Rest</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Take rest, sir.</p>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- Your custom JavaScript -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var myModal = new bootstrap.Modal(document.getElementById('takeRestModal'));
        myModal.show();
    });
</script>
{% endblock content %}
