{% extends "index.html" %}
{% load static %}

{% block head %}
    <title>Product Category</title>
    <link href="{% static 'css/product/category.css' %}" rel="stylesheet" type="text/css">
{% endblock head %}

{% block content %}

<div class="d-grid">
    <div class="d-flex justify-content-between">
        <span class="category_heading">Product Category</span>
        
        <div>
            <a href="{% url "purifier:view_products" %}" class="btn btn-secondary">View Products</a>
            <a href="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createCategoryModal">Create Category</a>
        </div>

    </div>

    {% comment %} Create Category modal {% endcomment %}
    <div class="modal fade" id="createCategoryModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createCategoryModalTitle" aria-hidden="true">
        <form method="post" action="{% url "purifier:create_category" %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createCategoryModalTitle">Create Category</h5>
                        <button type="button" class="btn-close modal-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        
                        <div class="col-12 d-flex justify-content-center">

                            <img id="image-preview-category-create" src="" alt="Image Preview" class="mt-2" style="width: 150px; height: 150px; display: none;">
                              
                            <img src="{% static 'images/empty_img.jpg' %}" id="categoryDefaultImage-create" alt="Image not loading..." class="mt-2" style="width: 150px; height: 150px;">  
                                
                            <label for="formCategoryImage" class="form-label ms-2">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </label>
                            {{ category_form.image }}
    
                        </div>

                        <label for="formCategoryName" class="form-label mt-3">Product Name</label>
                        {{ category_form.name }}

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Create</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <hr class="mt-1 mb-2">

    <div class="">
        {% if categories_exists %}
        <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

            {% for category in categories  %}

                <div class="col-12">
                    
                        <a href="" class="anchor_tag">
                            <div class="category-custom-card">

                                {% if category.image %}
                                    <img src="{{category.image.url}}" class="category-custom-card-img" alt="Profile not loading...">
                                    {% else %}
                                    <img src="{% static 'images/empty_img.jpg' %}" class="category-custom-card-img" alt="Profile not loading...">
                                {% endif %}

                                <div class="category-custom-card-body text-center">

                                    <p class="category-custom-card-title">{{category.name}}</p>

                                    <div class="d-grid edit-delete-btns">
                                        <i class="bi bi-pencil-square category_edit" data-bs-toggle="modal" data-bs-target="#updateCategoryModal"></i>
                                        <i class="bi bi-trash category_delete"></i>
                                    </div>

                                </div>
                            </div>
                        </a>
                </div>

            {% endfor %}

        </div>

            {% comment %} Update Category modal {% endcomment %}
            <div class="modal fade" id="updateCategoryModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateCategoryModalTitle" aria-hidden="true">
                <form id="updateCategoryForm" method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateCategoryModalTitle">Update Category</h5>
                                <button type="button" class="btn-close modal-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                
                                <div class="col-12 d-flex justify-content-center">

                                    <img id="image-preview-category-update" src="" alt="Image Preview" class="mt-2" style="width: 150px; height: 150px; display: none;">
                                    
                                    <img src="{% static 'images/empty_img.jpg' %}" id="categoryDefaultImage-update" alt="Image not loading..." class="mt-2" style="width: 150px; height: 150px;">  
                                        
                                    <label for="formCategoryImage" class="form-label ms-2">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </label>
                                    {{ category_form.image }}

                                </div>

                                <label for="formCategoryName" class="form-label mt-3">Product Name</label>
                                {{ category_form.name }}

                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="categoryUpdateButton" class="btn btn-secondary" data-bs-dismiss="modal">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>




        {% else %}
        <div class="d-flex justify-content-center">
            <span>No added categories. <a href="" data-bs-toggle="modal" data-bs-target="#createCategoryModal">Add</a> a new category</span>
        </div>
        {% endif %}
    </div>

</div>

<script src="{% static 'js/product/category.js' %}"></script>

{% endblock content %}