{% comment %} Update Category modal {% endcomment %}
<div class="modal fade" id="updateCategoryModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateCategoryModalTitle" aria-hidden="true">
    <form id="updateCategoryForm" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateCategoryModalTitle">Update Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                    <div class="col-12 d-flex justify-content-center">

                        <img id="image-preview-category" src="" alt="Image Preview" class="mt-2" style="width: 150px; height: 150px; display: none;">
                          
                        <img src="{% static 'images/empty_img.jpg' %}" id="categoryDefaultImage" alt="Image not loading..." class="mt-2" style="width: 150px; height: 150px;">  
                            
                        <label for="formCategoryImage" class="form-label ms-2">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </label>
                        {{ category_form.image }}

                    </div>

                    <label for="formServiceName" class="form-label mt-3">Product Name</label>
                    {{ category_form.name }}

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Create</button>
                </div>
            </div>
        </div>
    </form>
</div>