<!-- In job_assign_modal.html -->
<div class="modal fade" id="jobAssignModal" role="dialog" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Assigning job</h5>
            </div>
            <div class="modal-body" id="modalContent">
                <form method="POST" id="createForm" action="{% url 'job_assigning' %}" enctype="multipart/form-data" id="assignForm">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="formAssignEmployee" class="form-label">Select Employee</label>
                            <select id="formAssignEmployee" name="formAssignEmployee" class="form-select">
                                <!-- Data fetched via AJAX will be populated here -->
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn bg-primary text-white" id="jobassignbtn" value="Assign">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>