{% extends 'index.html' %}
{% block content %}
{% load static %}

<form method="POST" action="" enctype="multipart/form-data" id="jobForm">
    {% csrf_token %}

    <div class="d-flex justify-content-between">
        <div>
            <a href="{% url 'view_quotation_jobs' %}" class="btn btn-secondary">Back</a>

            {% if job_task and job_operator %}
                <a href="" id="unAssignModal" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#unAssignTaskModal">UnAssign</a>

                <!-- Modal for confirming UnAssign the Job -->
                <div class="modal fade" id="unAssignTaskModal" role="dialog" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="unAssignModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="unAssignModalLabel">UnAssign Confirmation</h5>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to UnAssign the job from <b>{{ job_task.operator_id }}</b>?</p>
                                <input type="hidden" value={{ job_task.id }} id="jobTaskId"/>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a href="" class="btn btn-danger" id="confirmUnAssign" style="color: black;">UnAssign</a>
                            </div>
                        </div>
                    </div>
                </div>

            {% else %}
                <a href="" id="openModalLink" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#jobAssignModal">Assign</a>
            {% endif %}

        </div>
        <div>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>

    <hr>

    

    <div>
        <h2 class="d-none">{{ job_form.sequential_code }}</h2>
        <h2>{{ job_id.sequential_code }}</h2>
    </div>
    
    <!-- Existing Quotation Job details -->
    <div class="row mt-3 ms-2 me-2 d-flex justify-content-center">

        <div class="col mb-4">
            <label for="formLength" class="form-label">Length</label>
            {{ job_form.length }}
        </div>

        <div class="col mb-4">
            <label for="formWidth" class="form-label">Width</label>
            {{ job_form.width }}
        </div>

        <div class="col mb-4">
            <label for="formHeight" class="form-label">Height</label>
            {{ job_form.height }}
        </div>

    </div>

    <div class="row ms-2 me-2 d-flex justify-content-center">

        <div class="col mb-4">
            <label for="formQuantity" class="form-label">Quantity</label>
            {{ job_form.quantity }}
        </div>

        <div class="col mb-4">
            <label for="formRemarks" class="form-label">Remarks</label>
            {{ job_form.remarks }}
        </div>

        <div class="col mb-4">
            <label for="formAttachment" class="form-label">Attachment</label>

            {% if job_id.attachment %}
                <br>
                <i class="bi bi-file-earmark-pdf-fill" style="color: #ff6666;"></i><a href="{{ job_id.attachment.url }}" target="_blank" style="text-decoration: none;">{{ job_id.attachment.name }}</a>
                <label for="formAttachment" class="form-label ms-auto">
                    <i class="bi bi-pencil-square ms-3" style="cursor: pointer;"></i>
                </label>
                <a href="{% url 'delete_attachment' job_id.id %}" style="color: black;"><i class="bi bi-trash"></i></a>
                <div class="d-none">
                    {{ job_form.attachment }}
                </div>

            {% else %}
    
                {{ job_form.attachment }}

            {% endif %}

        </div>
    </div>
</form>

<!-- Modal to Assign job to operators -->
{% include "quotation_job/job_assign_modal.html" %}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    window.ajaxUrl =  '{% url 'job_assigning' %}';
</script>

<script src="{% static 'js/quotation_job/quotation_job.js' %}"></script>

{% endblock content %}