{% extends 'index.html' %}
{% block content %}

<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal">Assign</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

    <!-- Modal to Assign job to operators -->
    <div class="modal fade" id="deleteModal" role="dialog" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Assigning job</h5>
                </div>
                <div class="modal-body">
                    <p>Select the operator:</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="#" class="btn btn-primary" id="jobAssign">Assign</a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Existing Quotation Job details -->
    <div class="row mt-3 ms-4 me-4 d-flex justify-content-center">
        <div class="col mb-4">
            <label for="formLength" class="form-label">Length</label>
            {{ job_form.length }}
        </div>

        <div class="col mb-4">
            <label for="formWidth" class="form-label">Width</label>
            {{ job_form.width }}
        </div>

        <div class="col mb-4">
            <label for="formHeight" class="form-label">Height</label>
            {{ job_form.height }}
        </div>

    </div>

    <div class="row ms-4 me-4 d-flex justify-content-center">

        <div class="col mb-4">
            <label for="formQuantity" class="form-label">Quantity</label>
            {{ job_form.quantity }}
        </div>

        <div class="col mb-4">
            <label for="formRemarks" class="form-label">Remarks</label>
            {{ job_form.remarks }}
        </div>

        <div class="col mb-4">
            <label for="formAttachment" class="form-label">Attachment</label>

            {% if job_id.attachment %}
                <br>
                <i class="bi bi-file-earmark-pdf-fill" style="color: #ff6666;"></i><a href="{{ job_id.attachment.url }}" target="_blank" style="text-decoration: none;">{{ job_id.attachment.name }}</a>
                <label for="formAttachment" class="form-label ms-auto">
                    <i class="bi bi-pencil-square ms-3" style="cursor: pointer;"></i>
                </label>
                <a href="{% url 'delete_attachment' job_id.id %}" style="color: black;"><i class="bi bi-trash"></i></a>
                <div class="d-none">
                    {{ job_form.attachment }}
                </div>

            {% else %}
    
                {{ job_form.attachment }}

            {% endif %}

        </div>
    </div>

{% endblock content %}